[workspace]
# Using version 2 to avoid unifying features. For more info, read:
#   https://doc.rust-lang.org/cargo/reference/resolver.html#feature-resolver-version-2
resolver = "2"

members = ["crates/blockifier", "crates/native_blockifier"]

[workspace.dependencies]
assert_matches = "1.5.0"
cairo-felt = "0.3.0-rc1"
cairo-lang-casm = "1.0.0"
cairo-lang-runner = "1.0.0"
cairo-lang-starknet = "1.0.0"
cairo-vm = "0.3.0-rc1"
ctor = "0.2.0"
derive_more = "0.99.17"
hex = "0.4.3"
indexmap = "1.9.2"
itertools = "0.10.3"
log = "0.4"
num-bigint = "0.4"
num-integer = "0.1.45"
num-traits = "0.2"
ouroboros = "0.15.6"
papyrus_storage = { git = "https://github.com/starkware-libs/papyrus", rev = "8b15ee4" }
phf = { version = "0.11", features = ["macros"] }
pretty_assertions = "1.2.1"
serde = "1.0.130"
serde_json = "1.0.81"
sha3 = "0.10.6"
starknet_api = { git = "https://github.com/starkware-libs/starknet-api", rev = "24a7249" }
starknet-crypto = "0.2.0"
strum = "0.24.1"
strum_macros = "0.24.3"
test-case = "2.2.2"
thiserror = "1.0.37"

[patch."https://github.com/starkware-libs/starknet-api"]
starknet_api = { git = "https://github.com/dojoengine/starknet-api", branch = "dev" }
