[workspace]
# Using version 2 to avoid unifying features. For more info, read:
#   https://doc.rust-lang.org/cargo/reference/resolver.html#feature-resolver-version-2
resolver = "2"

members = ["crates/blockifier", "crates/native_blockifier"]

[workspace.package]
version = "0.2.0-rc0"
edition = "2021"
repository = "https://github.com/starkware-libs/blockifier/"
license = "Apache-2.0"
license-file = "LICENSE"

[workspace.dependencies]
ark-ec = "0.4.2"
ark-ff = "0.4.0-alpha.7"
ark-secp256k1 = "0.4.0"
ark-secp256r1 = "0.4.0"
assert_matches = "1.5.0"
cached = "0.44.0"
cairo-felt = "0.8.2"
cairo-lang-casm = "2.1.0"
cairo-lang-runner = "2.1.0"
cairo-lang-starknet = "2.1.0"
cairo-vm = "0.8.2"
ctor = "0.2.0"
derive_more = "0.99.17"
indexmap = "1.9.2"
itertools = "0.10.3"
keccak = "0.1.3"
log = "0.4"
num-bigint = "0.4"
num-integer = "0.1.45"
num-traits = "0.2"
rstest = "0.17.0"
papyrus_storage = "0.0.4"
phf = { version = "0.11", features = ["macros"] }
pretty_assertions = "1.2.1"
serde = "1.0.184"
serde_json = "1.0.81"
sha3 = "0.10.6"
starknet_api = "0.4.1"
starknet-crypto = "0.5.1"
strum = "0.24.1"
strum_macros = "0.24.3"
test-case = "2.2.2"
tempfile = "3.7.0"
thiserror = "1.0.37"
