name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - auto_merge_enabled
    branches: [ main ]

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          components: rustfmt
          toolchain: nightly-2022-07-27
      - uses: Swatinem/rust-cache@v1
      - run: cargo +nightly-2022-07-27 fmt --all -- --check

  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          components: rustfmt
          toolchain: nightly-2022-07-27
      - uses: Swatinem/rust-cache@v1
      - run:
          pip install cairo-lang;
          cargo test -- --include-ignored

  udeps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        name: "Rust Toolchain Setup"
        with:
          profile: minimal
          toolchain: nightly-2022-07-27
          override: true
      - uses: actions/cache@v3
        name: "Cache Setup"
        id: "cache-cargo"
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - run:
          wget https://github.com/est31/cargo-udeps/releases/download/v0.1.30/cargo-udeps-v0.1.30-x86_64-unknown-linux-gnu.tar.gz;
          tar -xzf cargo-udeps-v0.1.30-x86_64-unknown-linux-gnu.tar.gz;
          cargo-udeps-v0.1.30-x86_64-unknown-linux-gnu/cargo-udeps udeps
        env:
          RUSTUP_TOOLCHAIN: nightly-2022-07-27

      - if: ${{ steps.cache-cargo.outputs.cache-hit != 'true' }}
        name: List the state of node modules
        continue-on-error: true
        run: echo "Cargo.lock hash, ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}"

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          components: clippy
          toolchain: stable
      - uses: Swatinem/rust-cache@v1
      - run: cargo clippy --all-targets --all-features
