name: CI

on:
  push:
    branches:
      - main
      - main-v[0-9].**
    tags:
      - v[0-9].**

  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - auto_merge_enabled
      - edited

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install commitlint
        run: npm install --global @commitlint/cli @commitlint/config-conventional

      - name: Validate PR commits with commitlint
        if: github.event_name == 'pull_request'
        run: commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

      - name: Validate PR title with commitlint
        if: github.event_name != 'merge_group' && github.event_name != 'push' && !(contains(github.event.pull_request.title, '/merge-main') || contains(github.event.pull_request.title, '/merge main'))
        run: echo "${{ github.event.pull_request.title }}" | commitlint --verbose

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: nightly-2024-01-12
      - uses: Swatinem/rust-cache@v2
      - run: scripts/rust_fmt.sh --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Set up Native Dependencies
        uses: ./.github/actions/setup-native-dep
      - run: scripts/clippy.sh
        env:
          CAIRO_NATIVE_RUNTIME_LIBDIR: ${{ steps.native-deps.outputs.cairo-native-runtime-libdir }}
          MLIR_SYS_170_PREFIX: /usr/lib/llvm-17/
          LLVM_SYS_170_PREFIX: /usr/lib/llvm-17/
          TABLEGEN_170_PREFIX: /usr/lib/llvm-17/

  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Native Dependencies
        uses: ./.github/actions/setup-native-dep
        id: native-deps
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --features testing
        env:
          CAIRO_NATIVE_RUNTIME_LIBDIR: ${{ steps.native-deps.outputs.cairo-native-runtime-libdir }}
          MLIR_SYS_170_PREFIX: /usr/lib/llvm-17/
          LLVM_SYS_170_PREFIX: /usr/lib/llvm-17/
          TABLEGEN_170_PREFIX: /usr/lib/llvm-17/

  erc20-native-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Install Native dependencies
        id: native-deps
        uses: ./.github/actions/setup-native-dep
      - name: Run ERC20 tests
        run: | 
          cd crates/blockifier 
          cargo test --test erc20_tests --features testing
        env:
          CAIRO_NATIVE_RUNTIME_LIBDIR: ${{ steps.native-deps.outputs.cairo-native-runtime-libdir }}
          MLIR_SYS_170_PREFIX: /usr/lib/llvm-17/
          LLVM_SYS_170_PREFIX: /usr/lib/llvm-17/
          TABLEGEN_170_PREFIX: /usr/lib/llvm-17/

  udeps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        name: "Rust Toolchain Setup"
        with:
          toolchain: nightly-2023-08-23
      - name: Set up Native Dependencies
        uses: ./.github/actions/setup-native-dep
      - uses: Swatinem/rust-cache@v2
        id: "cache-cargo"
      - if: ${{ steps.cache-cargo.outputs.cache-hit != 'true' }}
        name: "Download and run cargo-udeps"
        run: |
          cargo install cargo-udeps --locked
          cd crates/blockifier
          cargo udeps --all-features --all-targets
        env:
          RUSTUP_TOOLCHAIN: nightly-2023-08-23
          MLIR_SYS_170_PREFIX: /usr/lib/llvm-17/
          LLVM_SYS_170_PREFIX: /usr/lib/llvm-17/
          TABLEGEN_170_PREFIX: /usr/lib/llvm-17/
