name: CI

on:
  push:
    branches:
    - main
    tags:
    - v[0-9].**

  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
     - 'crates/blockifier/feature_contracts/cairo0/**'

jobs:
  verify_cairo_file_dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          components: rustfmt
          toolchain: nightly-2023-07-05
      - uses: Swatinem/rust-cache@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      - run:
          pip install -r crates/blockifier/tests/requirements.txt;
          cargo test verify_feature_contracts -- --include-ignored
