name: Nightly Latest Dependencies Check

on:
  schedule:
    - cron: '0 0 * * *' # Runs at 00:00 UTC every day

jobs:
  latest_deps:
    name: Latest Dependencies
    runs-on: ubuntu-20.04
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Update Dependencies
        run: cargo update --verbose
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
